
*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 40%;
    max-height: 40%;
    margin-top: 1rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 3rem;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
}

.group__input {
    width: 12rem;
    height: 2rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 228, 228);
    border: none;
}

.group__input::placeholder {
    color: rgb(181, 180, 180);
}

.group__button {
    width: 6rem;
    background-color: rgb(62, 233, 62);
    color: rgb(70, 70, 70);
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    font-weight: 550;
}

.table {
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.table__thead {
    background-color:rgb(0, 0, 0);
    border-radius: 0.2rem;
}

.table__th {
    width: 100px;
    background-color:rgb(242, 255, 0);
    border-radius: 0.1rem;
}

.table__tbody {
    width: 410px;
    background-color:rgba(227, 227, 227, 0.455);
    border-radius: 0.5rem;
}

